<ion-view view-title="เพิ่มแปลงเพาะปลูก">
  <ion-content class="ios">
    <form ng-submit="doSummit(FormCrop)" name="FormCrop" novalidate="">
    <div class="item item-divider text-green">
      ข้อมูลแปลงเพาะปลูก
    </div>
    <label class="item item-input">
      <span class="input-label">ชื่อแปลง</span>
      <input type="text" name="name" ng-model="crop.name" placeholder="กรุณากรอกชื่อแปลง" required>
    </label>
    <div class="form-errors" ng-show="FormCrop.name.$error && FormCrop.$submitted" ng-messages="FormCrop.name.$error">
        <div class="form-error" ng-message="required"><b>กรุณากรอกชื่อแปลง</b></div>
    </div>
    <label class="item item-input item-select">
     <div class="input-label">
       ชื่อพืช
     </div>
     <select ng-model="plant" ng-options="c.plant for c in test"></select>

   </label>
   <!--<div class="form-errors" ng-show="FormCrop.plant.$error && FormCrop.$submitted" ng-messages="FormCrop.plant.$error">
       <div class="form-error" ng-message="required"><b>กรุณาเลือกพืช</b></div>
   </div>-->
   <label class="item item-input item-select">
    <div class="input-label">
      ชื่อพันธิ์ุ
    </div>
  <!--  <select name="seed" ng-model="crop.seed"  ng-change="choseseed()" >
      <option ng-repeat="seed in seeds" ng-bind="seed.seed_name" ng-value="seed.seed_id"></option>
    </select>-->

    <select name="seed" ng-model="seed" ng-options="p.name for p in plant.seed" ng-change="changeseed(seed.seed_id)" required>
      <option value="">-- กรุณาเลือก --</option>

    </select>

    </label>

    <div class="form-errors" ng-show="FormCrop.seed.$error && FormCrop.$submitted" ng-messages="FormCrop.seed.$error">
        <div class="form-error" ng-message="required"><b>กรุณาเลือกพันธุ์พืช</b></div>
    </div>
    <div class="item item-divider text-green">
      แผนการเพาะปลูก
    </div>
    <label class="item item-input item-select">
     <div class="input-label">
       ชื่อแผน
     </div>
     <!--<select name="plan" ng-model="crop.plan" >
       <option ng-repeat="plan in plans" ng-bind="plan.pla_name" value="{{plan.pla_id}}"></option>
     </select>-->
     <select name="plan" ng-model="plan" ng-options="o.name for o in seed.plan" ng-change="changeplan(plan.plan_id)" required><option value="">-- กรุณาเลือก --</option></select>
   </label>
   <div class="form-errors" ng-show="FormCrop.plan.$error && FormCrop.$submitted" ng-messages="FormCrop.plan.$error">
       <div class="form-error" ng-message="required"><b>กรุณาเลือกแผน</b></div>
   </div>
   <div class="item item-divider text-green">
     ขนาดพื้นที่
   </div>
   <div class="row list">
     <div class="col col-33">
       <label class="item item-input item-stacked-label">
        <span class="input-label">ไร่</span>
        <input type="number" name="rai" placeholder="ไร่" ng-model="crop.rai">
      </label>
     </div>
     <div class="col col-33">
       <label class="item item-input item-stacked-label">
        <span class="input-label">งาน</span>
        <input type="number" name="nan" placeholder="งาน" ng-model="crop.nan">
      </label>
     </div>
     <div class="col col-33">
       <label class="item item-input item-stacked-label">
        <span class="input-label">วา</span>
        <input type="number" name="wa" placeholder="วา" ng-model="crop.wa" required>
      </label>
     </div>
   </div>
   <div class="form-errors" ng-show="FormCrop.wa.$error && FormCrop.$submitted" ng-messages="FormCrop.wa.$error">
       <div class="form-error" ng-message="required"><b>กรุณากรอกขนาดพื้นที่ขั้นต่ำหน่วยตารางวา</b></div>
   </div>

   <!--<label class="item item-input">
     <span class="input-label">ชื่อแปลง</span>
     <input type="text" name="name" ng-model="register.name" placeholder="กรุณากรอกชื่อ" required>
   </label>-->

   <div class="item item-divider text-green">
     ที่อยู่ของแปลงเพาะปลูก
   </div>
   <div >
    <center><img ng-src="img/Map Marker-96.png" ng-click="map();"></br>{{namelatlong.full_name}}</center>
  </div>
   <!--<div class="form-errors" ng-show="FormCrop.latLng.$error && FormCrop.$submitted" ng-messages="FormCrop.latLng.$error">
       <div class="form-error" ng-message="required"><b>กรุณาระบุตำแหน้งแปลงเพาะปลูก</b></div>
   </div>-->

     <button class="button button-full button-positive">
        เพิ่มแปลงเพาะปลูก
     </button>
  </form>

  </ion-content>
</ion-view>
