<ion-view view-title="เพิ่มรูปภาพการเพาะปลูก">
  <ion-content class="ios">
    <form ng-submit="doSummit(Form)" name="Form" novalidate="">
      <label class="item item-input">
        <span class="input-label">วันที่</span>
        <input type="date" name="start" ng-model="mul.date" required>
      </label>
    <div class="item item-divider text-green">
      <div class="row">
        <div class="col-80">
        รูปภาพ
      </div>
      <div class="col-10 text-right" ng-click="getpiconphone()"  align="right">
        <!--<img src="{{image}}" height="10px" width="10px">-->
        <i class="ion-images" style="font-size: 23px;color:green;"></i>
      </div>
      <div class="col-10 text-right" ng-click="takepic()" >
        <!--<img src="{{image}}" height="10px" width="10px">-->
        <i class="ion-android-camera" style="font-size: 23px;color:green;"></i>
      </div>
    </div>
  </div>

  <div ng-repeat="pic in images">
      <div class="row" ng-if="$even">
          <div class="col col-50">
            <div class="item item-thumbnail-left" ng-if="images[$index] != null">
              <img src="{{images[$index]}}">
              <div class="button button-assertive" ng-click="removeItem($index)">
                ลบ
              </div>
            </div>
          </div>
          <div class="col col-50">
            <div class="item item-thumbnail-left" ng-if="images[$index + 1] != null">
              <img src="{{images[$index + 1]}}">
              <div class="button button-assertive" ng-click="removeItem($index+1)">
                ลบ
              </div>
            </div>
          </div>
      </div>
  </div>
  <input type="hidden" name="pic" ng-model="mul.pic" placeholder=""  required>
</label>
  <div class="form-errors" ng-show="Form.pic.$error && Form.$submitted" ng-messages="Form.pic.$error">
      <div class="form-error" ng-message="required"><b>กรุณาเลือกรูป</b></div>
  </div>
  <label class="item item-input item-stacked-label">
    <span class="input-label">รายละเอียด</span>
    <textarea class="textarear" rows="6" placeholder="รายละเอียด..." name="detail" ng-model="mul.detail"></textarea>
  </label>
    <div class="bar bar-footer">
      <button style="min-width: 50%;border-radius: 0px;" class="button button-stable" ng-click="close();">ยกเลิก</button>
      <button type="submit" style="min-width: 50%;border-radius: 0px;"  class="button button-positive">บันทึก</button>
    </div></form>

  </ion-content>

</ion-view>
