<ion-view view-title="เพิ่มปัญหาการเพาะปลูก">
  <ion-content class="ios">
    <form ng-submit="doSummit(Form)" name="Form" novalidate="">
    <label class="item item-input">
      <span class="input-label">หัวข้อ</span>
      <input type="text" name="name" ng-model="problems.name" placeholder="กรุณากรอกชื่อปัญหา" required>
    </label>
    <div class="form-errors" ng-show="Form.name.$error && Form.$submitted" ng-messages="Form.name.$error">
        <div class="form-error" ng-message="required"><b>กรุณากรอกชื่อปัญหา</b></div>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">
        ประเภทปัญหา
      </div>
      <select name="type" ng-model="problems.type">
        <option ng-repeat="type in types" ng-selected="{{type.tpro_id == problems.type}}" ng-bind="type.tpro_name" ng-value="type.tpro_id"></option>
      </select>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">รายละเอียด</span>
      <textarea class="textarear" rows="6" placeholder="รายละเอียด..." name="detail" ng-model="problems.detail" required></textarea>
    </label>
    <div class="form-errors" ng-show="Form.detail.$error && Form.$submitted" ng-messages="Form.detail.$error">
        <div class="form-error" ng-message="required"><b>กรุณากรอกรายละเอียดของปัญหา</b></div>
    </div>
  <!--  <div class="item item-divider text-green">
      <div class="row">
        <div class="col-80">
        รูปภาพ
      </div>
      <div class="col-20 text-right" ng-click="getpic()" >

        <i class="ion-android-add-circle" style="font-size: 23px;color:green;"></i> เพิ่มรูป
      </div>
    </div>
  </div>-->

  <div class="item item-divider text-green">
    <div class="row">
      <div class="col-80">
      รูปภาพ
    </div>
    <div class="col-10 text-right" ng-click="getpic()"  align="right">
      <!--<img src="{{image}}" height="10px" width="10px">-->
      <i class="ion-images" style="font-size: 23px;color:green;"></i>
    </div>
    <div class="col-10 text-right" ng-click="takepic()" >
      <!--<img src="{{image}}" height="10px" width="10px">-->
      <i class="ion-android-camera" style="font-size: 23px;color:green;"></i>
    </div>
  </div>
</div>

  <div ng-repeat="pic in images">
      <div class="row" ng-if="$even">
          <div class="col col-50">
            <div class="item item-thumbnail-left" ng-if="images[$index] != null">
              <img src="{{images[$index]}}">
              <div class="button button-assertive" ng-click="removeItem($index)">
                <i class="ion-close-round"></i>
              </div>
            </div>
          </div>
          <div class="col col-50">
            <div class="item item-thumbnail-left" ng-if="images[$index + 1] != null">
              <img src="{{images[$index + 1]}}">
              <div class="button button-assertive" ng-click="removeItem($index+1)">
                <i class="ion-close-round"></i>
              </div>
            </div>
          </div>
      </div>
  </div>

  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button style="min-width: 50%;border-radius: 0px;" class="button button-stable" ng-click="close();">ยกเลิก</button>
      <button type="submit" style="min-width: 50%;border-radius: 0px;"  class="button button-positive">บันทึก</button>
    </div>
  </ion-footer-bar>
</form>
</ion-view>
