<ion-view view-title="รายละเอียดกิจกรรม ">
  <ion-content class="ios">
    <div class="padding">
      <h2>กำจัดแมลง</h2>
    </div>
    <div calss="row" style="margin-top:10px">
      <div class="col col-offset-75">
        <button class="button button-clear button-small button-positive" ng-click="getpiccamera();">
           <i class="ion-android-camera" style="font-size:25px;color:gray;"></i>
         </button>
         <button class="button button-clear button-small button-positive" ng-click="getpic();">
            <i class="ion-images" style="font-size:25px;color:gray;"></i>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
