<ion-view view-title="บัญชีการเพาะปลูก">
  <ion-content>
    <center><div class="row">
      <div class="col col-33">
        <h3>รายรับ</h3>
        <h4 style="color:green;">{{total.plus | number:2}}</h4>
      </div>
      <div class="col col-33">
        <h3>รายจ่าย</h3>
        <h4 style="color:red;">{{total.minus| number:2 }}</h4>
      </div>
      <div class="col col-33">
        <h3>คงเหลือ</h3>
        <h4>{{total.plus - total.minus | number:2}}</h4>
      </div>
    </div></center>
    <div class="list">
      <div class="item item-divider">
        รายการบัญชี
      </div>
      <a class="item item-icon-left" ng-repeat="accaccount in accaccounts">
          <i class="icon ion-plus-round" style="color:green;" ng-if="accaccount.cropa_type == '0'"></i>
          <i class="icon ion-minus-round" style="color:red;" ng-if="accaccount.cropa_type == '1'"></i>
        <div class="row">
          <div class="col col-75">
            <h2>{{accaccount.cropa_name}}</h2>
            <p>{{accaccount.date_name }}</p>
          </div>
          <div class="col" align="right">
            <b>{{accaccount.cropa_amount | number:2}}</b>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
