<ion-view view-title="ภาพรวมการเพาะปลูก">

  <ion-content>
    <div class="list">
    <ion-item class="item">
      <h1 class="text-center text-nameCrop">ข้าว</h1>
      <center><h2 class="text-center">กข 45</h2></center>
      <div class="col col-bottom">
        <center><img src="img/chaokaset_logo.png" width="150px" height="150px" ></center>
      </div>
    </ion-item>

    <ion-item class="item area-card">
      <h2 class="text-center">ขนาดพื้นที่</h2>
      <h1 class="text-center my-text-datecrop">10 ไร่ 2 งาน 200 ตารางวา</h1>
    </ion-item>
    <ion-item class="item area-card">
      <h2 class="text-center">ระยะเวลาเพาะปลูก</h2>
      <h1 class="text-center my-text-datecrop">120 วัน</h1>
    </ion-item>
    <div class="row">
      <ion-item class="item datestart-card">
        <h2 class="text-center my-padding-datecrop">วันที่เริ่มต้น</h2>
        <h1 class="text-center my-text-datecrop">1 สิงหาคม 2559</h1>
      </ion-item>
      <ion-item class="item dateend-card">
        <h2 class="text-center">วันที่สิ้นสุด</h2>
        <h1 class="text-center my-text-datecrop">30 ธันวาคม 2559</h1>
      </ion-item>
    </div>
  </div>
  </ion-content>

</ion-view>
