<ion-view view-title="ปัญหาการเพาะปลูก">
  <ion-content>
    <ion-refresher
	    pulling-text="อัพเดตข้อมูล"
	    on-refresh="doRefresh()">
  	</ion-refresher>
    <ion-list ng-repeat="problem in problems" show-delete="shouldShowDelete" show-reorder="shouldShowReorder"  can-swipe="listCanSwipe" >
      <ion-item ui-sref="app.detailProblem({cropp_id:{{problem.cropp_id}}})">
        <div class="row">
          <div class="col-90">
            <h2>{{problem.cropp_name}}</h2>
            <p>{{problem.date_name}}</p>
          </div>
          <div class="col-10">
            <button class="button button-clear button-positive">
              <i class="icon ion-chatbubbles"></i>&nbsp;&nbsp;{{problem.count_ans}}
            </button>
          </div>
          <ion-option-button class="button-energized" ng-click="edit({{problem.cropp_id}});">
            <i class="icon ion-android-create"></i>&nbsp;แก้ไข
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="del({{problem.cropp_id}});">
            <i class="icon ion-trash-b"></i>&nbsp;&nbsp;ลบ&nbsp;
          </ion-option-button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
  <nav mfb-menu position="br" resting-icon="ion-plus-round" active-icon="ion-plus-round" ng-click="add()"  menu-state="myVar">
</ion-view>
