<ion-view view-title="บัญชีการเพาะปลูก">
  <ion-content>
    <center><div class="row">
      <div class="col col-33">
        <h3>รายรับ</h3>
        <h4 style="color:green;">10000</h4>
      </div>
      <div class="col col-33">
        <h3>รายจ่าย</h3>
        <h4 style="color:red;">1000</h4>
      </div>
      <div class="col col-33">
        <h3>คงเหลือ</h3>
        <h4>9000</h4>
      </div>
    </div></center>
    <div class="list">
      <div class="item item-divider">
        รายการบัญชี
      </div>
      <a class="item item-icon-left">
        <i class="icon ion-plus-round" style="color:green;"></i>
        <div class="row">
          <div class="col col-75">
            <h2>กู้เงิน</h2>
            <p>1 สิงหาคม 2559</p>
          </div>
          <div class="col" align="right">
            <b>10000</b>
          </div>
        </div>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-minus-round" style="color:red;"></i>
        <div class="row">
          <div class="col col-75">
            <h2>ซื้อปุ๋ย</h2>
            <p>1 สิงหาคม 2559</p>
          </div>
          <div class="col" align="right">
            <b>1000</b>
          </div>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
