<ion-view view-title="รายละเอียดสินค้า">
  <ion-content class="ios">

    <div class="padding">
      <div class="row" ng-if="detail.crop_id != null">
        <div class="col-80">
          <h3  class="text-green"><center>{{detail.prd_name}}</center></h3>
        </div>
        <div class="col-10 text-right" >
          <a href="#/app/producttimeline/{{detail.crop_id}}<"><i class="ion-ios-list" style="font-size: 30px;"></i></a>
        </div>
        <div class="col-10 text-right">
          <a href="geo:{{detail.prd_lat}},{{detail.prd_long}}?q={{detail.prd_lat}},{{detail.prd_long}}"><i class="ion-map" style="font-size: 30px;"></i></a>
        </div>
      </div>
      <div class="row" ng-if="detail.crop_id == null">
        <div class="col-90">
          <h3  class="text-green"><center>{{detail.prd_name}}</center></h3>
        </div>

        <div class="col-10 text-right">
          <a href="geo:{{detail.prd_lat}},{{detail.prd_long}}?q={{detail.prd_lat}},{{detail.prd_long}}"><i class="ion-map" style="font-size: 30px;"></i></a>
        </div>
      </div>

      <ion-gallery ion-gallery-items="items" ion-gallery-row="3" ion-zoom-events="true"  ion-gallery-toggle="true" ng-if="items != null"></ion-gallery>
    </div>

    <ul class="list">
      <div class="item item-divider">
        <b class="text-green">ราคา {{detail.crop_id}}</b>
      </div>
      <li class="item">
        {{detail.prd_price}} บาท ต่อ {{detail.prd_unit}}
      </li>
      <div class="item item-divider">
        <b class="text-green">รายละเอียด</b>
      </div>
      <li class="item">
        {{detail.prd_detail}}
      </li>
      <div class="item item-divider" ng-if="expire != null">
        <b class="text-green">วันหมดอายุ</b>
      </div>
      <li class="item" ng-if="expire != null">
        {{expire}}
      </li>
      <div class="item item-divider">
        <b class="text-green">ติดต่อ</b>
      </div>
      <div ng-repeat="t in tel">
        <a class="item item-icon-right" ng-href="tel:{{t.pdc_data}}">
          {{t.pdc_data}}
          <i class="icon ion-ios-telephone-outline"></i>
        </a>
      </div>
    </ul>


  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
       <button style="min-width: 50%;border-radius: 0px;" class="button button-stable" ng-click="likena();"><i class="ion-ios-heart assertive" style="font-size: 25px;"></i> ชอบ ({{like}})</button>
       <button style="min-width: 50%;border-radius: 0px;"  class="button button-stable" ng-click="gocomment();"><i class="ion-chatboxes positive" style="font-size: 25px;"></i> ความคิดเห็น ({{comment}})</button>
    </div>
  </ion-footer-bar>


</ion-view>
