<ion-view view-title="จัดการการเพาะปลูก">
  <ion-tabs class="tabs-custom tabs-icon-top tabs-background-stable tabs-color-balanced">
    <ion-tab title="แผน" icon="my-icon ion-android-time" class="royal" href="#/app/menucropdetail/croptimeline">
      <ion-nav-view name="tab-timeline"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ภาพรวม" icon="my-icon ion-information" class="calm" href="#/app/menucropdetail/cropdetail">
      <ion-nav-view name="tab-detail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ปัญหา" icon="my-icon ion-help" class="assertive" href="#/app/menucropdetail/cropproblem">
      <ion-nav-view name="tab-problem"></ion-nav-view>
    </ion-tab>
    <ion-tab title="บัญชี" icon="my-icon ion-social-bitcoin" class="energized" href="#/app/menucropdetail/cropaccount">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view >
