<ion-view view-title="จัดการการขาย">
  <ion-content>
  	<ion-refresher
	    pulling-text="อัพเดตข้อมูล"
	    on-refresh="doRefresh()">
  	</ion-refresher>
  <!--  <div class="card" ng-repeat="a in api">
    <div class="item item-thumbnail-left" ui-sref="app.cropdetail">
			  <img src="img/chaokaset_logo.png">
			  <h2>{{a.Name}} </h2>
			  <p>{{a.Plant}}</p>
			  <p>{{a.Seed}}</p>
			</div>
		</div>-->
    <center ng-if="alert == ''"></br><h3>{{alert}}</h3></center>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder"  can-swipe="listCanSwipe">

      <ion-item  ng-repeat="s in sell" class="item-thumbnail-left"  ng-click="">
        <img  ng-src="{{'http://188.166.191.211/rest/'+s.pprd_path}}">
        <h2>{{s.prd_name}}</h2>
        <p>ประเภท : {{s.tsell_name}}</p>
        <p>ราคา : {{(s.prd_price | number) +' บาท ต่อ '+s.prd_unit}}</p>

        <ion-option-button class="button-royal" ng-click="editpic({{s.prd_id}},{{s.tsell_id}});">
          <i class="icon ion-android-create"></i>&nbsp;ภาพ
        </ion-option-button>
        <ion-option-button class="button-energized" ng-click="edit({{s.prd_id}},{{s.tsell_id}});">
          <i class="icon ion-android-create"></i>&nbsp;ข้อมูล
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="del({{s.prd_id}},$index);">
          <i class="icon ion-trash-b"></i>&nbsp;&nbsp;ลบ&nbsp;
        </ion-option-button>
      </ion-item>

    </ion-list>
    <!--<div class="list">
    <a class="item" href="#" onclick="window.open('https://www.youtube.com/watch?v=j3-8gLCYhQY', '_system', 'location=yes'); return false;">
        Open a Browser
    </a>
  </div>-->
    <div style="margin-bottom:10%;"><font color="white">5</font></div>
  </ion-content>



  </nav>
</ion-view>
