
<ion-view view-title="รายละเอียดการเพาะปลูก">
  <ion-content class="ios">
    <ion-refresher
	    pulling-text="อัพเดตข้อมูล"
	    on-refresh="doRefresh()">
  	</ion-refresher>
    <label class="item item-input item-select">
      <div class="input-label">
        การแสดงผล
      </div>
      <select ng-model="select" ng-init="select=''">
        <option value="">ทั้งหมด</option>
        <option value="plan">การเพาะปลูก</option>
        <option value="account">ปัญชีการเพาะปลูก</option>
        <option value="problem">ปัญหาการเพาะปลูก</option>
        <option value="note">บันทึก</option>
        <option value="multimedia">รูปภาพ</option>
      </select>
    </label>

    <ion-scroll zooming="true" direction="y">
    <section  id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block" >

        <div class="list" ng-repeat="activity in timeline | filter : {data:select||undefined}">
        <!--<div class="list">-->
          <div class="cd-timeline-block" >
            <div ng-if="activity.data =='plan'" >
              <div class="cd-timeline-icon" ng-click="event({{$index}},activity.status_show,activity.id,activity.data);">
                <i class="ion-android-time timelineIcon royal"></i>
              </div>
              <div class="cd-timeline-content royal" >
                <div class="row">
                  <div class="col-90">
                    <h4 class="marginBottom0 marginTop0">{{activity.title}}</h4>
                  </div>
                  <div class="col-10">
                    <div align="right" style="margin-top:-10px">
                      <button class="button button-clear button-small button-positive " ng-click="showDetail({{activity.id}},'plan',activity.status_show,{{$index}});">
                        <i class="ion-chevron-down" style="color:gray;"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div ng-show="activity.status_show==='true'">
                <h5 class="marginTop5 cd-author" style="margin-left:5px">{{activity.date}}</h5>
                <div style="margin-left:5px" class="timelineText">{{activity.text}}</div>
                <ion-gallery ion-gallery-items="activity.pic" ion-zoom-events="true" ng-if="activity.pic != null"></ion-gallery>

              </div>
              </div>
            </div>
            <div ng-if="activity.data =='account'">
              <div class="cd-timeline-icon" ng-click="event({{$index}},activity.status_show,activity.id,activity.data);">
                <i class="ion-social-bitcoin timelineIcon energized"></i>
              </div>
              <div class="cd-timeline-content energized">
                <div class="row">
                  <div class="col-90">
                    <h4 class="marginBottom0 marginTop0" ng-if="activity.type =='0'" style="color:green;">+ {{activity.text | number:2}} บาท</h4>
                    <h4 class="marginBottom0 marginTop0" ng-if="activity.type =='1'" style="color:red;">- {{activity.text | number:2}} บาท</h4>
                  </div>
                  <div class="col-10">
                    <div align="right" style="margin-top:-10px">
                      <button class="button button-clear button-small button-positive " ng-click="showDetail({{activity.id}},'account',activity.status_show,{{$index}});">
                        <i class="ion-chevron-down" style="color:gray;"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div style="margin-left:5px" ng-show="activity.status_show==='true'">

                <h5 class="marginTop5 cd-author">{{activity.date}}</h5>
                <div class="timelineText">{{activity.title}}</div>
              </div>

              </div>
            </div>
            <div ng-if="activity.data =='problem'">
              <div class="cd-timeline-icon" ng-click="event({{$index}},activity.status_show,activity.id,activity.data);">
                <i class="ion-help assertive timelineIcon "></i>
              </div>
              <div class="cd-timeline-content assertive">
                <div class="row">
                  <div class="col-90">
                    <h4 class="marginBottom0 marginTop0">{{activity.title}}</h4>
                  </div>
                  <div class="col-10">
                    <div align="right" style="margin-top:-10px">
                      <button class="button button-clear button-small button-positive " ng-click="showDetail({{activity.id}},'problem',activity.status_show,{{$index}});">
                        <i class="ion-chevron-down" style="color:gray;"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div ng-show="activity.status_show==='true'">
                  <div style="margin-left:5px"><h5 class="marginTop5 cd-author">{{activity.date}}</h5>
                  <div class="timelineText">{{activity.text}}</div>
                  <ion-gallery ion-gallery-items="activity.pic" ion-zoom-events="true" ng-if="activity.pic != null"></ion-gallery>
                </div>
              </div>

              </div>
            </div>

            <div ng-if="activity.data =='note'">

              <div class="cd-timeline-icon" ng-click="event({{$index}},activity.status_show,activity.id,activity.data);">
                <i class="ion-document timelineIcon" style="color:brown"></i>
              </div>
              <div class="cd-timeline-content" style="border-color:brown">
                <div class="row">
                  <div class="col-90">
                    <h4 class="marginBottom0 marginTop0">{{activity.title}}</h4>
                  </div>
                  <div class="col-10">
                    <div align="right" style="margin-top:-10px">
                      <button class="button button-clear button-small button-positive " ng-click="showDetail({{activity.id}},'note',activity.status_show,{{$index}});">
                        <i class="ion-chevron-down" style="color:gray;"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div ng-show="activity.status_show==='true'">
                  <h5 class="marginTop5 cd-author" style="margin-left:5px">{{activity.date}}</h5>
                  <div style="margin-left:5px" class="timelineText">{{activity.text}}</div>
              </div>
              </div>
            </div>



            <div ng-if="activity.data == 'multimedia'" >
              <div class="cd-timeline-icon" ng-click="event({{$index}},activity.status_show,activity.id,activity.data);">
                <i class="ion-image timelineIcon" style="color:blue"></i>
              </div>
              <div class="cd-timeline-content" style="border-color:blue">
                <div class="row">
                  <div class="col-90">
                    <h4 class="marginBottom0 marginTop0">{{activity.title}}</h4>
                  </div>
                  <div class="col-10">
                    <div align="right" style="margin-top:-10px">
                      <button class="button button-clear button-small button-positive " ng-click="showDetail({{activity.id}},'multimedia',activity.status_show,{{$index}});">
                        <i class="ion-chevron-down" style="color:gray;"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div ng-show="activity.status_show==='true'">
                <h5 class="marginTop5 cd-author" style="margin-left:5px">{{activity.date}}</h5>
                <div style="margin-left:5px" class="timelineText">{{activity.text}}</div>
                <ion-gallery ion-gallery-items="activity.pic" ion-zoom-events="true" ng-if="activity.pic != null"></ion-gallery>
              </div>
              </div>
            </div>


      </div>
      </section >
    </ion-scroll>
    <div style="margin-bottom:10%;"><font color="white">5</font></div>

  </ion-content>
</ion-view>
