<ion-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="left"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-android-arrow-back"></i>
    <span class="back-text"></span></button><div class="buttons buttons-left header-item"><span class="left-buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </span></div><div class="title title-left header-item" style="left: 50px;">วิดิโอ</div></ion-header-bar>
  <ion-content class="padding ios">
    <h2>VDO</h2>
   <ion-list class="a">
      <div class="card">
        <ion-item>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zFgfXWX-uGA" frameborder="0" allowfullscreen></iframe>
            </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<style>
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


</style>
