/* Empty. Add your own CSS if you like */
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
}

.button-footer-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


@font-face {
    font-family: 'kanitlight';
    src: local('../lib/ionic/fonts/kanitlight'),
         url('../lib/ionic/fonts/kanit-light-webfont.eot') format('embedded-opentype'),
         url('../lib/ionic/fonts/kanit-light-webfont.woff') format('woff'),
         url('../lib/ionic/fonts/kanit-light-webfont.ttf') format('truetype'),
         url('../lib/ionic/fonts/kanit-light-webfont.svg#kanitlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Pridi-Light';
  src: url('../lib/ionic/fonts/Pridi-Light.eot?#iefix') format('embedded-opentype'),
       url('../lib/ionic/fonts/Pridi-Light.woff') format('woff'), url('Pridi-Light.ttf') format('truetype'),
       url('../lib/ionic/fonts/Pridi-Light.svg#Pridi-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,h1,h2,h3,h4,h5,h6,.button {
  font-family: 'Pridi-Light', sans-serif;
}


.my-text-datecrop {
  font-size: 23px;
  color: #35BE57;
}
.text-nameCrop {
/*margin-top: 200px;*/
  font-size: 28px;
  color: #35BE57;
}

.text-green {
  color: #35BE57;
}

.text-red {
  color: red;
}

.text-gray {
  color: gray;
}

.text-right{
  text-align:right;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.login-background {
  /*  background-image: url('/img/chaokaset_logo.png');
    width: 100%;*/
    background:url('../img/rice.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
}

.login {
  margin-top: 50px;
}
.pic-profile-container {
  width: 100%;
  height:190px;
  background-image: url("../img/rice.jpg");
  background-size: cover;
}
.pic-profile-container2 {
  width: 100%;
  height:150px;
  background-image: url("../img/rice.jpg");
  background-size: cover;
}
.pic-profile2 {
  margin-top: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(213,212,212,0.3);
}
.pic-profile {
  margin-top: 60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(213,212,212,0.3);
}

.mfb-button.md-fab.md-mini {
      line-height: 4rem;
      width: 4rem;
      height: 4rem;
}

.border-not {
    border-color: red;
}
.fixDiv{
  /*position: fixed;*/
  top:0px;
  left:0px;
  position: absolute;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 93%;
}

#footer {
/*  position : absolute;
  bottom : 0;
  margin-top : 40px;
  height : 100px;*/
  position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
}

.text{
  font-size: 22px;
}

#footer2 {
  position: absolute;
    height: 40px; /* ความสูงของ footer */
  /*  display: block;*/
  right: 0;
  bottom: 0;
  left: 0;

}

.wrapper {

   min-height: 100%; /* real browsers */
   height: auto !important; /* real browsers */
   height: 100%; /* IE6 bug */
   margin-bottom: -80px; /* กำหนด margin-bottom ให้ติดลบเท่ากับความสูงของ footer */
}


.box {
  /*width: 200px; height: 300px;*/
  position: relative;
  /*border: 1px solid #BBB;*/
  /*background: #EEE;*/
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.ios {
  margin-top:4%;
}
